# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
genecode/genecode.xcodeproj/project.xcworkspace/xcshareddata/genecode.xccheckout
genecode/genecode.xcodeproj/project.xcworkspace/xcuserdata/alterego4.xcuserdatad/UserInterfaceState.xcuserstate
genecode/genecode.xcodeproj/xcuserdata/alterego4.xcuserdatad/xcschemes/genecode.xcscheme
genecode/genecode.xcodeproj/xcuserdata/alterego4.xcuserdatad/xcschemes/xcschememanagement.plist
Breakpoints_v2.xcbkptlist
/temp/*
WorkspaceSettings.xcsettings
UserInterfaceState.xcuserstate
